python-telegram-bot==22.0
python-dotenv==1.1.0
langchain-core>=0.2.43,<0.4.0
langchain-google-genai>=0.0.12
google-generativeai>=0.4.1
pydantic==2.11.3
langchain_chroma==0.2.2
langchain_community>=0.0.13
sentence-transformers>=2.2.2
chromadb>=0.4.18
langchain-huggingface>=0.0.8 